* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed", sans-serif;
}

.contenitore {
  max-width: 1300px;
  margin: auto;
}

.contenitore::after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}

.header-top {
  background-color: #0282f9;
}

.header-top ul {
  list-style-type: none;
  text-align: right;
}

.header-top ul li {
  display: inline-block;
  text-transform: uppercase;
}

.header-top ul li:last-child {
  margin-left: 50px;
}

.header-top ul li a {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  color: white;
  padding: 5px 0;
}

.header-bottom {
  border-bottom: 1px solid #ebebeb;
}

.header-bottom .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bottom .logo-brand {
  width: 10%;
  height: 80px;
}

.header-bottom .logo-brand a {
  display: inline-block;
  height: 100%;
}

.header-bottom .logo-brand a img {
  height: 100%;
}

.header-bottom .menu {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bottom .menu ul {
  list-style-type: none;
}

.header-bottom .menu ul li {
  display: inline-block;
  margin: 0 10px;
}

.header-bottom .menu ul li a {
  display: inline-block;
  color: #464646;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  line-height: 113px;
}

.header-bottom .menu ul li a.active,
.header-bottom .menu ul li a:hover {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}

.search {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.search .input-search {
  border-bottom: 3px solid #0282f9;
}

.search .input-search input {
  width: 150px;
  border: none;
  font-size: 20px;
  text-align: right;
}

.jumbotron {
  background-image: url("/images/jumbotron.jpg");
  padding: 200px 0;
}

.contenitore-sezione {
  background-color: #1C1C1C;
  color: #FFFFFF;
}

.sezione-titolo {
  background-color: #0282f9;
  color: #FFFFFF;
  display: inline-block;
  transform: translateY(-50%);
}

.sezione-titolo h2 {
  text-transform: uppercase;
  font-size: 30px;
  padding: 10px 30px;
}

.contenitore-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  flex-basis: 190px;
  padding-bottom: 50px;
}

.card a {
  display: inline-block;
}

.card a .img-card {
  width: 190px;
  height: 190px;
}

.card a .img-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.titolo {
  font-size: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.contenitore-load-more {
  display: flex;
  justify-content: center;
}

.load-more {
  background-color: #0282f9;
  color: #FFFFFF;
  display: inline-block;
  margin: 20px 0;
  padding: 10px 70px;
}

.load-more h2 {
  text-transform: uppercase;
  font-size: 16px;
}

.contenitore-icon {
  background-color: #0282f9;
  color: #FFFFFF;
}

.icon ul {
  list-style-type: none;
}

.icon ul li {
  display: inline-block;
  margin: 0 39px;
}

.icon ul li a {
  display: inline-block;
  color: #FFFFFF;
  line-height: 150px;
}

.icon ul li a img {
  display: inline-block;
  height: 50px;
  max-width: 50px;
  vertical-align: middle;
}

.icon ul li a span {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  font-family: "Open Sans", sans-serif;
}

#sezione-footer-top {
  background-image: url("/images/footer-bg.jpg");
  background-size: cover;
}

#sezione-footer-top .footer-logo {
  background-image: url("/images/dc-logo-bg.png");
  background-position: right;
  background-repeat: no-repeat;
  padding: 30px 0;
}

#sezione-footer-top .footer-logo .footer-contenitore-menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#sezione-footer-top .footer-logo .footer-contenitore-menu .footer-menu {
  margin-right: 30px;
}

#sezione-footer-top .footer-logo .footer-contenitore-menu .footer-menu h3 {
  color: #FFFFFF;
  font-size: 20px;
}

#sezione-footer-top .footer-logo .footer-contenitore-menu .footer-menu .shop {
  margin-top: 20px;
}

#sezione-footer-top .footer-logo .footer-contenitore-menu .footer-menu ul {
  list-style-type: none;
}

#sezione-footer-top .footer-logo .footer-contenitore-menu .footer-menu ul li a {
  color: #959595;
  font-size: 13px;
}

#sezione-footer-top .footer-logo .footer-copyright {
  padding-top: 20px;
}

#sezione-footer-top .footer-logo .footer-copyright p {
  font-size: 13px;
  color: #959595;
}

#sezione-footer-top .footer-logo .footer-copyright p a {
  color: #0282f9;
}

#sezione-footer-top .footer-bottom {
  background-color: #303030;
  padding: 30px 0;
}

#sezione-footer-top .footer-bottom .footer-bottom-contenitore {
  display: flex;
}

#sezione-footer-top .footer-bottom .footer-bottom-contenitore .footer-left {
  width: 50%;
  display: flex;
  align-items: center;
}

#sezione-footer-top .footer-bottom .footer-bottom-contenitore .footer-left .button {
  font-size: 18px;
  color: #FFFFFF;
  font-weight: bold;
  padding: 10px;
  border: 2px solid #0282f9;
  text-transform: uppercase;
}

#sezione-footer-top .footer-bottom .footer-bottom-contenitore .footer-left .button:hover {
  background-color: #0282f9;
  transition: all 0.3s ease;
}

#sezione-footer-top .footer-bottom .footer-bottom-contenitore .footer-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#sezione-footer-top .footer-bottom .footer-bottom-contenitore .footer-right .social {
  display: flex;
  align-items: center;
}

#sezione-footer-top .footer-bottom .footer-bottom-contenitore .footer-right .social h2 {
  color: #0282f9;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 15px 10px 0;
}

#sezione-footer-top .footer-bottom .footer-bottom-contenitore .footer-right .social ul {
  list-style-type: none;
}

#sezione-footer-top .footer-bottom .footer-bottom-contenitore .footer-right .social ul li {
  display: inline-block;
  margin-left: 15px;
}

#sezione-footer-top .footer-bottom .footer-bottom-contenitore .footer-right .social ul li:hover {
  opacity: 0.8;
}

#sezione-footer-top .footer-bottom .footer-bottom-contenitore .footer-right .social ul li.facebook {
  background-image: url("/images/footer-facebook.png");
  background-repeat: no-repeat;
}

#sezione-footer-top .footer-bottom .footer-bottom-contenitore .footer-right .social ul li.twitter {
  background-image: url("/images/footer-twitter.png");
  background-repeat: no-repeat;
}

#sezione-footer-top .footer-bottom .footer-bottom-contenitore .footer-right .social ul li.youtube {
  background-image: url("/images/footer-youtube.png");
  background-repeat: no-repeat;
}

#sezione-footer-top .footer-bottom .footer-bottom-contenitore .footer-right .social ul li.pinterest {
  background-image: url("/images/footer-pinterest.png");
  background-repeat: no-repeat;
}

#sezione-footer-top .footer-bottom .footer-bottom-contenitore .footer-right .social ul li.periscope {
  background-image: url("/images/footer-periscope.png");
  background-repeat: no-repeat;
}

#sezione-footer-top .footer-bottom .footer-bottom-contenitore .footer-right .social ul a {
  display: inline-block;
  width: 35px;
  height: 35px;
}

