* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenitore {
  width: 1300px;
  margin: auto;
}

.contenitore::after {
  content: "";
  display: table;
  clear: both;
}

.contenitore-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: grey;
}

.card {
  height: 300px;
  margin: 50px;
}

.titolo {
  font-size: 13px;
}

