* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $text_font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title_font;
}

.contenitore {
    max-width: 1300px;
    margin: auto;
}

.contenitore::after {
    content: '';
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}
