.jumbotron {
    background-image: url('/images/jumbotron.jpg');
    padding: $font_weight * 20 0;
}

.contenitore-sezione {
    background-color: $dark_color_card;
    color: $text_color;

}

.sezione-titolo {
    background-color: $page_color;
    color: $text_color;
    display: inline-block;
    transform: translateY(-50%);

        h2 {
            text-transform: $font_trasform;
            font-size: $font_weight * 3;
            padding: $font_weight $font_weight * 3;
        }
}

.contenitore-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}

.card {
    flex-basis: $font_weight * 19;
    padding-bottom: $font_weight * 5;

    a {
        display: inline-block;

        .img-card {
            width: $font_weight * 19;
            height: $font_weight * 19;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
    }
}

.titolo {
    font-size: $font_weight + 5;
    text-transform: uppercase;
    color: $text_color;

}

.contenitore-load-more {
    display: flex;
    justify-content: center;
}

.load-more {

    background-color: $page_color;
    color: $text_color;
    display: inline-block;
    margin: $font_weight * 2 0;
    padding: $font_weight $font_weight * 7;

        h2{
            text-transform: $font_trasform;
            font-size: $font_weight + 6;



        }
}
