.contenitore-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: grey;

}

.card {
    height: 300px;
    margin: 50px;

}

.titolo {
    font-size: 13px;

}
