#sezione-single-comic {
    background-color: $page_color;
    padding-top: $font_weight * 8;
}

.small-contenitore {
    width: 1020px;
    margin: auto;
}

.sezione-contenitore-single {
    position: relative;

    .contenitore-img-thumb {
        position: absolute;
        bottom: $font_weight * 2;
        border: 1px solid $text_color;

        span {
            position: absolute;
            background-color: $color_text_img;
            color: $text_color;
            text-transform: uppercase;
            padding: 1px 7px;
            font-size: $font_weight + 2;

            &.type {
                top: 0;
                left: 0;
            }

            &.gallery {
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
            }
        }

        img {
            display: block;
        }
    }
}

#sezione-text-comic {

    .contenitore-text-img {
        display: flex;
        padding: $font_weight * 6 0;

        .contenitore-left {
            width: 70%;
            padding-right: $font_weight * 4;

            h1 {
                color: $color_title_comic;
                font-size: $font_weight * 3;
                margin-bottom: $font_weight * 2;
                text-transform: uppercase;
            }

            .contenitore-price {
                display: flex;
                justify-content: space-between;
                background-color: $backgroud_color_price;
                border: 1px solid $border_color;
                margin-bottom: $font_weight + 5;

                .price, .available, .check {
                    padding: $font_weight + 5;
                }

                .price {
                    flex-grow: 1;

                    .us-price {
                        color: $color_text_price;
                    }

                    .comic-price {
                        color: $text_color;
                    }
                }

                .available {
                    border-right: 1px solid $border_color;

                    .comic-available {
                        text-transform: uppercase;
                        color: $color_text_price;
                    }

                }

                .check-availability {
                    color: $text_color;
                }
            }
        }

        .contenitore-right {
            width: 30%;

            h5 {
                font-size: $font_weight + 9;
                text-transform: uppercase;
                color: $menu_text_color;
                text-align: right;
                padding-right: $font_weight - 4;
            }
        }

        .comic-description {
            color: $menu_text_color;
            line-height: 1.8;
        }
    }
}

#sezione-artisti {
    background-color: $backgroud_color_artist;

    .contenitore-sezione-artisti {
        display: flex;


        .margin {
            margin-right: $font_weight * 4;
        }

        .sezione-artisti-left, .sezione-artisti-right  {
            width: 50%;
            padding: $font_weight * 3 0 $font_weight * 7 0;


            h2 {
                color: $color_title_comic;
                font-size: $font_weight * 2 + 6;
                padding-bottom: $font_weight * 2;

            }

            ul {

                list-style-type: none;

                .riga {
                    border-bottom: 1px solid $color_riga;
                }

                li {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    border-top: 1px solid $color_riga;
                    padding: $font_weight 0;

                    span:first-child {
                        min-width: calc(100% / 3);
                        max-width: calc(100% / 3);
                        flex-grow: 1;
                        color: $color_title_comic;
                    }

                    span:last-child {
                        flex-grow: 2;
                    }

                    a {
                        color: $color_text_img;
                    }

                    .name-series {
                        text-transform: uppercase;
                        color: $color_text_img;
                    }
                }
            }

        }
    }

    .sezione-contenitore-blocchi {
        border-top: 1px solid $color_riga;
    }
    .contenitore-blocchi {
        display: flex;

        .blocchi {
            border-left: 1px solid $color_riga;
            border-right: 1px solid $color_riga;
            width: 25%;

            a {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                padding: $font_weight;

                .text-icon {
                    color: $color_text_icon;
                    text-transform: uppercase;
                    font-family: $title_font;
                    font-size: $font_weight + 4;

                    &:hover {
                        color: $color_text_icon_hover;
                    }
                }

                .icon {
                    background-image: url('/images/cta-icons.png');
                    width: $icon_size;
                    height: $icon_size;
                    display: inline-block;
                }
            }

            &:hover {
                background-color: $backgroud_color_blocco_hover;
            }

            &:first-child {

                .icon {
                    background-position: 0 0;
                }

                &:hover .icon {
                    background-position: 0 $icon_size;
                }
            }

            &:nth-child(2) {

                .icon {
                    background-position: $icon_size 0;
                }

                &:hover .icon {
                    background-position: $icon_size $icon_size;
                }
            }

            &:nth-child(3) {

                .icon {
                    background-position: $icon_size * 2 0;
                }

                &:hover .icon {
                    background-position: $icon_size * 2 $icon_size;
                }
            }

            &:nth-child(4) {

                .icon {
                    background-position: $icon_size * 3 0;
                }

                &:hover .icon {
                    background-position: $icon_size * 3 $icon_size;
                }
            }

            // Soluzione con il ciclo for

            // @for $i from 0 through 3 {
            //
            //     &:nth-child(#{$i + 1}) {
            //
            //         .icon {
            //             background-position: $icon_size * $i 0;
            //         }
            //
            //         &:hover .icon {
            //             background-position: $icon_size * $i $icon_size;
            //         }
            //     }
            // }
        }
    }
}
