$page_color: #0282f9;
$text_font: 'Open Sans', sans-serif;
$title_font: 'Open Sans Condensed', sans-serif;
$menu_text_color: #464646;
$font_weight: 10px;
$dark_color_card: #1C1C1C;
$text_color: #FFFFFF;
$color_li: #959595;
$backgroud_color_footer_bottom: #303030;
$color_text_img: #00a9d9;
$color_title_comic: #003f5e;
$backgroud_color_price: #55ba59;
$border_color: #357739;
$color_text_price: #bafd9c;
$backgroud_color_artist: #f6f6f6;
$color_riga: #e3e3e3;
$color_text_icon: #a7a7a7;
$color_text_icon_hover: #0d374a;
$icon_size: 37px;
$backgroud_color_blocco_hover: #E9E9E9;
$icon_socials: facebook, twitter, youtube, pinterest, periscope;
