$page_color: #0282f9;
$text_font: 'Open Sans', sans-serif;
$title_font: 'Open Sans Condensed', sans-serif;
$menu_text_color: #464646;
$font_weight: 10px;
$dark_color_card: #1C1C1C;
$text_color: #FFFFFF;
$color_li: #959595;
$backgroud_color_footer_bottom: #303030;
$icon_socials: facebook, twitter, youtube, pinterest, periscope;
